### make a environment with pythomn 3.11
ipykernel
langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv 
pymupdf
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
